
.main {
	width: 960px;
	height: 550px;
	background-color: #777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	display: flex;
	flex-direction: column;
}

.header {
	background-color: #ebebeb;
	width: 495px;
	height: 100px;
	margin: auto;
	margin-top: 5px;
	text-align: center;
}
.nav {
	background-color: #ebebeb;
	width: 495px;
	height: 100px;
	margin: auto;
	margin-top: -5px;
	text-align: center;
}
.split {
	background-color: #ebebeb;
	width: 495px;
	height: 200px;
	margin: auto;
	margin-top: 0px;
	display: flex;
}
.section {
	background-color: #ebebeb;
	border: 2px solid black;
	flex: 60%;
	text-align: center;
}
.aside {
	background-color: #ebebeb;
	border: 2px solid black;
	flex: 40%;
	text-align: center;
}
.footer {
	background-color: #ebebeb;
	margin: auto;
	width: 495px;
	height: 100px;
	margin-top: 0px;
	text-align: center;
}
.article {
	color: #ebebeb;
	background-color: #777;
	display: flex;
	flex-direction: column;
    width: 285px;
    height: 135px;
    margin: auto;
    margin-top: 30px;
}

.row1 {
	color: #777;
	background-color: #ebebeb;
	text-align: center;
	flex: 40%;
	margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.row2 {
	color: #777;
	background-color: #ebebeb;
	text-align: center;
	flex: 40%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
