.main {
    position: relative;
    background-color: blue;
}

.content {
    position: absolute;
    padding-left: 150px;
    padding-right: 150px;
    background-color: white;
    top: 145px;
}

.para1 {
    color: black;
}
.para2 {
    color: black;
}
.Box {
    position: relative;
    width: 150px;
    height: 150px;
}
.box-1 {
    position: fixed;
    background-color: rgb(245, 239, 239);
    border: 5px solid black;
    width: 250px;
    height: 150px;
    z-index: 1;
}

.box-2 {
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 150px;
}
